In [1]:
%load_ext autoreload
%autoreload 2
# Import twint
import sys
sys.path.append("twint/")
# Set up TWINT config
import twint
# Other imports
import seaborn as sns
import os
# from optimus import Optimus
# op = Optimus()
# # Solve compatibility issues with notebooks and RunTime errors.
import nest_asyncio
nest_asyncio.apply()
# Disable annoying printing
class HiddenPrints:
    def __enter__(self):
        self._original_stdout = sys.stdout
        sys.stdout = open(os.devnull, 'w')
    def __exit__(self, exc_type, exc_val, exc_tb):
        sys.stdout.close()
        sys.stdout = self._original_stdout

In [2]:
# Set up TWINT config
%reload_ext autoreload
c = twint.Config()

In [3]:
c = twint.Config()
c.Username = "LexFridman"
# Custom output format
c.Limit = 5
c.Pandas = True
c.Pandas_clean = True
c.Store_pandas = True
c.Hide_output = True
twint.run.Search(c)

In [93]:
import pandas as pd

In [101]:
df.tail()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
195,1336811369316950019,1336810077555019779,2020-12-09 17:14:01 CST,2020-12-09,17:14:01,-600,427089628,lexfridman,Lex Fridman,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'elonmusk', 'name': 'Elon Mus...",NaN,NaN,NaN,NaN
196,1336746511913414658,1336746511913414658,2020-12-09 12:56:18 CST,2020-12-09,12:56:18,-600,427089628,lexfridman,Lex Fridman,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
197,1336353197175222274,1336351038106869760,2020-12-08 10:53:25 CST,2020-12-08,10:53:25,-600,427089628,lexfridman,Lex Fridman,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'elonmusk', 'name': 'Elon Mus...",NaN,NaN,NaN,NaN
198,1336349957557800960,1336349957557800960,2020-12-08 10:40:32 CST,2020-12-08,10:40:32,-600,427089628,lexfridman,Lex Fridman,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
199,1335960108757561346,1335960108757561346,2020-12-07 08:51:25 CST,2020-12-07,08:51:25,-600,427089628,lexfridman,Lex Fridman,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [85]:
df_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               100 non-null    object
 1   conversation_id  100 non-null    object
 2   created_at       100 non-null    float64
 3   date             100 non-null    object
 4   timezone         100 non-null    object
 5   place            100 non-null    object
 6   tweet            100 non-null    object
 7   language         100 non-null    object
 8   hashtags         100 non-null    object
 9   cashtags         100 non-null    object
 10  user_id          100 non-null    int64
 11  user_id_str      100 non-null    object
 12  username         100 non-null    object
 13  name             100 non-null    object
 14  day              100 non-null    int64
 15  hour             100 non-null    object
 16  link             100 non-null    object
 17  urls             100 non-null    object
 18  photos           100 non-null    object
 19  video            100 non-null    int64
 20  thumbnail        100 non-null    object
 21  retweet          100 non-null    bool
 22  nlikes           100 non-null    int64
 23  nreplies         100 non-null    int64
 24  nretweets        100 non-null    int64
 25  quote_url        100 non-null    object
 26  search           100 non-null    object
 27  near             100 non-null    object
 28  geo              100 non-null    object
 29  source           100 non-null    object
 30  user_rt_id       100 non-null    object
 31  user_rt          100 non-null    object
 32  retweet_id       100 non-null    object
 33  reply_to         100 non-null    object
 34  retweet_date     100 non-null    object
 35  translate        100 non-null    object
 36  trans_src        100 non-null    object
 37  trans_dest       100 non-null    object
dtypes: bool(1), float64(1), int64(6), object(30)
memory usage: 29.1+ KB

In [60]:
df_lf1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               100 non-null    object
 1   conversation_id  100 non-null    object
 2   created_at       100 non-null    float64
 3   date             100 non-null    object
 4   timezone         100 non-null    object
 5   place            100 non-null    object
 6   tweet            100 non-null    object
 7   language         100 non-null    object
 8   hashtags         100 non-null    object
 9   cashtags         100 non-null    object
 10  user_id          100 non-null    int64
 11  user_id_str      100 non-null    object
 12  username         100 non-null    object
 13  name             100 non-null    object
 14  day              100 non-null    int64
 15  hour             100 non-null    object
 16  link             100 non-null    object
 17  urls             100 non-null    object
 18  photos           100 non-null    object
 19  video            100 non-null    int64
 20  thumbnail        100 non-null    object
 21  retweet          100 non-null    bool
 22  nlikes           100 non-null    int64
 23  nreplies         100 non-null    int64
 24  nretweets        100 non-null    int64
 25  quote_url        100 non-null    object
 26  search           100 non-null    object
 27  near             100 non-null    object
 28  geo              100 non-null    object
 29  source           100 non-null    object
 30  user_rt_id       100 non-null    object
 31  user_rt          100 non-null    object
 32  retweet_id       100 non-null    object
 33  reply_to         100 non-null    object
 34  retweet_date     100 non-null    object
 35  translate        100 non-null    object
 36  trans_src        100 non-null    object
 37  trans_dest       100 non-null    object
dtypes: bool(1), float64(1), int64(6), object(30)
memory usage: 29.1+ KB

In [23]:
df['tweet'][99]

'Why did Stalin only write in lowercase?  He was afraid of Capitalism.'

In [25]:
c = twint.Config()
c.Username = "LexFridman"
c.Since = '2020-11-01'
c.Until = '2020-12-02'
# Custom output format
c.Limit = 10
c.Pandas = True
c.Store_pandas = True
c.Hide_output = True
twint.run.Search(c)

In [27]:
df_lf2 = twint.storage.panda.Tweets_df

In [32]:
start = '2020-11-01'

In [36]:
df_ = twint.storage.panda.Tweets_df

In [45]:
name = df['date'][0][0:10]

In [46]:
name

'2021-01-18'

In [9]:
def twint_time(start, end, user):
    # Input three params start and end dates in the format '20xx-mm-dd' and a user such as 'LexFridman'
    # All params should be string
    # There should be no spaces in the username
    c = twint.Config()
    c.Username = user
    c.Since = start
    c.Until = end
    # Custom output format
    c.Limit = 10
    c.Pandas = True
    c.Pandas_clean = True
    c.Store_pandas = True
    c.Hide_output = True
    twint.run.Search(c)
    df.df = twint.storage.panda.Tweets_df
    return df.df.head()

In [95]:
twint_time('2020-11-01', '2020-12-02', 'LexFridman')

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1333500120676110347,1333500120676110347,1.606766e+12,2020-11-30 13:56:18,-0600,,Here's my 4th conversation with @manoliskellis...,en,[],[],...,,,,,,[],,,,
1,1333250082918031360,1333250082918031360,1.606707e+12,2020-11-29 21:22:45,-0600,,Power naps are magic.,en,[],[],...,,,,,,[],,,,
2,1333229081735917573,1333229081735917573,1.606702e+12,2020-11-29 19:59:17,-0600,,This will never not make me laugh. Love knows ...,en,[],[],...,,,,,,[],,,,
3,1332918454509309953,1332918454509309953,1.606627e+12,2020-11-28 23:24:58,-0600,,"Mike Tyson is a legend, not just for his power...",en,[],[],...,,,,,,[],,,,
4,1332805378946510850,1332805378946510850,1.606601e+12,2020-11-28 15:55:39,-0600,,I'm thinking of getting a Tesla.,en,[],[],...,,,,,,[],,,,

In [90]:
df.head()

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1351053401438773248,1351053401438773248,1.610951e+12,2021-01-18 00:26:46,-0600,,Here's my conversation with Max Tegmark (@tegm...,en,[],[],...,,,,,,[],,,,
1,1350840573322780674,1350840573322780674,1.610900e+12,2021-01-17 10:21:04,-0600,,"""Dwell on the beauty of life. Watch the stars,...",en,[],[],...,,,,,,[],,,,
2,1350495711809462280,1350495711809462280,1.610818e+12,2021-01-16 11:30:43,-0600,,Wikipedia is arguably the greatest website eve...,en,[],[],...,,,,,,[],,,,
3,1350277854681051136,1350277854681051136,1.610766e+12,2021-01-15 21:05:02,-0600,,This changes everything. https://t.co/HtL1W7eXY1,en,[],[],...,,,,,,[],,,,
4,1350180651836829696,1350180651836829696,1.610743e+12,2021-01-15 14:38:47,-0600,,I love America.,en,[],[],...,,,,,,[],,,,

In [91]:
df_lf_2 = df.df

In [98]:
df_lf_2.shape

(69, 38)

In [100]:
twint_time('2020-9-16', '2020-11-02', 'LexFridman')

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1322565323716022274,1322565323716022274,1.604159e+12,2020-10-31 10:45:19,-0600,,America is an amazing country. I'm a proud imm...,en,[],[],...,,,,,,[],,,,
1,1322393824312938497,1322393824312938497,1.604118e+12,2020-10-30 23:23:51,-0600,,Do you trust polls?,en,[],[],...,,,,,,[],,,,
2,1322348833465094145,1322348833465094145,1.604108e+12,2020-10-30 20:25:04,-0600,,"""In the midst of winter, I found there was wit...",en,[],[],...,,,,,,[],,,,
3,1322084619085324288,1322084619085324288,1.604045e+12,2020-10-30 02:55:10,-0600,,"I don't know what I'm doing. It's night, wet, ...",en,[],[],...,,,,,,[],,,,
4,1322028205340086272,1322028205340086272,1.604031e+12,2020-10-29 23:11:00,-0600,,Here's my 3rd conversation with @EricRWeinstei...,en,[],[],...,,,,,,[],,,,

In [101]:
df_lf_3 = df.df

In [102]:
df_lf_3.shape

(96, 38)

In [111]:
twint_time('2020-8-01', '2020-9-15', 'LexFridman')

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1305283831470133250,1305283831470133250,1.600039e+12,2020-09-13 18:14:51,-0600,,"""Difficulties strengthen the mind, as labor do...",en,[],[],...,,,,,,[],,,,
1,1304855948922675202,1304855948922675202,1.599937e+12,2020-09-12 13:54:35,-0600,,"By popular demand, here's my second conversati...",en,[],[],...,,,,,,[],,,,
2,1304536069220728832,1304536069220728832,1.599861e+12,2020-09-11 16:43:30,-0600,,"""The measure of a man is what he does with pow...",en,[],[],...,,,,,,[],,,,
3,1304475251728936960,1304475251728936960,1.599846e+12,2020-09-11 12:41:50,-0600,,Great things can be accomplished when we're un...,en,[],[],...,,,,,,[],,,,
4,1303715667460358144,1303715667460358144,1.599665e+12,2020-09-09 10:23:31,-0600,,I'm excited to be back on the @joerogan podcas...,en,[],[],...,,,,,,[],,,,

In [112]:
df_lf_4 = df.df
df_lf_4.shape

(75, 38)

In [113]:
twint_time('2020-5-25', '2020-7-31', 'LexFridman')
df_lf_5 = df.df
df_lf_5.shape

(92, 38)

In [115]:
twint_time('2020-4-01', '2020-5-24', 'LexFridman')
df_lf_6 = df.df
df_lf_6.shape

(92, 38)

In [129]:
twint_time('2020-2-01', '2020-4-01', 'LexFridman')
df_lf_7 = df.df
print(df_lf_7.shape)
df_lf_7.tail()

(89, 38)

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
84,1225516477161320463,1225516477161320463,1.581021e+12,2020-02-06 14:27:51,-0600,,Reading one of my favorite poems Roll the Dice...,en,[],[],...,,,,,,[],,,,
85,1225157090777255936,1225157090777255936,1.580935e+12,2020-02-05 14:39:47,-0600,,Here's my conversation with Jim Keller (@jimkx...,en,[],[],...,,,,,,[],,,,
86,1224833544821719043,1224833544821719043,1.580858e+12,2020-02-04 17:14:08,-0600,,I had a lot of fun on the @joerogan podcast ye...,en,[],[],...,,,,,,[],,,,
87,1224404304494088198,1224404304494088198,1.580756e+12,2020-02-03 12:48:29,-0600,,"I usually run on flat ground. This time, I met...",en,[],[],...,,,,,,[],,,,
88,1223691979743100928,1223691979743100928,1.580586e+12,2020-02-01 13:37:57,-0600,,I'm excited to be back on the @joerogan podcas...,en,[],[],...,,,,,,[],,,,

In [130]:
twint_time('2019-11-05', '2020-2-01', 'LexFridman')
df_lf_8 = df.df
print(df_lf_8.shape)
df_lf_8.tail()

(95, 38)

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
90,1193244582601019392,1193244582601019392,1.573327e+12,2019-11-09 13:10:52,-0600,,"""It's easier to recognize ugly than to recogni...",en,[],[],...,,,,,,[],,,,
91,1192859982288629760,1192857687475859456,1.573235e+12,2019-11-08 11:42:36,-0600,,@WhitneyCummings Fear makes life more interest...,en,[],[],...,,,,,,"[{'screen_name': 'WhitneyCummings', 'name': 'W...",,,,
92,1192857687475859456,1192857687475859456,1.573234e+12,2019-11-08 11:33:29,-0600,,Whitney Cummings (@WhitneyCummings) is one of ...,en,[],[],...,,,,,,[],,,,
93,1192504214062346241,1192504214062346241,1.573150e+12,2019-11-07 12:08:54,-0600,,"Here's my conversation with Bjarne Stroustrup,...",en,[],[],...,,,,,,[],,,,
94,1192123722804674561,1192123722804674561,1.573059e+12,2019-11-06 10:56:58,-0600,,"I've been doing jiu jitsu, a martial art I rec...",en,[],[],...,,,,,,[],,,,

In [135]:
twint_time('2019-07-20', '2019-11-04', 'LexFridman')
df_lf_9 = df.df
print(df_lf_9.shape)
df_lf_9.tail()

(97, 38)

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
92,1154057474397396992,1154024885410304000,1.563984e+12,2019-07-24 10:55:17,-0600,,@Chantal_Rome Right now I'm waiting for the bu...,en,[],[],...,,,,,,"[{'screen_name': 'Chantal_Rome', 'name': 'Chan...",,,,
93,1154048758742704128,1154024885410304000,1.563982e+12,2019-07-24 10:20:39,-0600,,"@Chantal_Rome Not sure, some hypotheses: I'm p...",en,[],[],...,,,,,,"[{'screen_name': 'Chantal_Rome', 'name': 'Chan...",,,,
94,1154024885410304000,1154024885410304000,1.563976e+12,2019-07-24 08:45:48,-0600,,"""Yesterday is history, tomorrow is a mystery, ...",en,[],[],...,,,,,,[],,,,
95,1153649196110700544,1152285889915174918,1.563886e+12,2019-07-23 07:52:56,-0600,,@AndrewYang #YangGang won't be denied. @Andrew...,en,[yanggang],[],...,,,,,,"[{'screen_name': 'AndrewYang', 'name': 'Andrew...",,,,
96,1153309520048918535,1153309520048918535,1.563805e+12,2019-07-22 09:23:11,-0600,,Here's my conversation with Chris Urmson (@chr...,en,[],[],...,,,,,,[],,,,

In [139]:
twint_time('2019-02-20', '2019-07-19', 'LexFridman')
df_lf_10 = df.df
print(df_lf_10.shape)
df_lf_10.tail()

(92, 38)

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
87,1101142293007028226,1101142293007028226,1.551368e+12,2019-02-28 09:29:15,-0600,,Talked with @EricRWeinstein yesterday on the A...,en,[],[],...,,,,,,[],,,,
88,1100769902372229121,1100769902372229121,1.551279e+12,2019-02-27 08:49:30,-0600,,Riding a state-of-the-art autonomous vehicle o...,en,[],[],...,,,,,,[],,,,
89,1100407428825448449,1100407428825448449,1.551193e+12,2019-02-26 08:49:10,-0600,,New talk from Karl Iagnemma (President) and Os...,en,[],[],...,,,,,,[],,,,
90,1098994198072696832,1098994198072696832,1.550856e+12,2019-02-22 11:13:29,-0600,,"For career success, you should always under-pr...",en,[],[],...,,,,,,[],,,,
91,1098641613381910528,1098641613381910528,1.550772e+12,2019-02-21 11:52:27,-0600,,Best and worst idea for a new AI and reinforce...,en,[],[],...,,,,,,[],,,,

In [162]:
twint_time('2018-08-01', '2019-02-19', 'LexFridman')
df_lf_11 = df.df
print(df_lf_11.shape)
df_lf_11.tail()

(95, 38)

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
90,1026149833164447744,1026149833164447744,1.533488e+12,2018-08-05 11:55:59,-0600,,Great design is the highest form of great engi...,en,[],[],...,,,,,,[],,,,
91,1025740563050622982,1025740563050622982,1.533391e+12,2018-08-04 08:49:42,-0600,,"To read 1 book a week, spend 36 minutes readin...",en,[],[],...,,,,,,[],,,,
92,1025388733485510661,1025388733485510661,1.533307e+12,2018-08-03 09:31:39,-0600,,"The more I learn about the human mind, the les...",en,[],[],...,,,,,,[],,,,
93,1025038384627105793,1025038384627105793,1.533223e+12,2018-08-02 10:19:29,-0600,,"Every hour, the universe expands by a billion ...",en,[],[],...,,,,,,[],,,,
94,1024676861085929473,1024676861085929473,1.533137e+12,2018-08-01 10:22:55,-0600,,We added two Cadillac CT6 vehicles to the MIT-...,en,[],[],...,,,,,,[],,,,

In [163]:
twint_time('2018-07-05', '2018-07-31', 'LexFridman')
df_lf_12 = df.df
print(df_lf_12.shape)
df_lf_12.tail()

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
(8, 38)

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
3,1017768665054351360,1017768665054351360,1.531490e+12,2018-07-13 08:52:13,-0600,,The human brain has 100 billion neurons. Our p...,en,[],[],...,,,,,,[],,,,
4,1017465021197144064,1017465021197144064,1.531418e+12,2018-07-12 12:45:39,-0600,,Had a heated discussion about beauty. The topi...,en,[],[],...,,,,,,[],,,,
5,1016740247043010562,1016740247043010562,1.531245e+12,2018-07-10 12:45:39,-0600,,Do the hardest task first. You won't regret it.,en,[],[],...,,,,,,[],,,,
6,1015953613837996038,1015953613837996038,1.531057e+12,2018-07-08 08:39:51,-0600,,DeepTraffic is a deep RL competition anyone ca...,en,[],[],...,,,,,,[],,,,
7,1015238590282989568,1015238590282989568,1.530887e+12,2018-07-06 09:18:36,-0600,,A good way to understand an idea is to teach i...,en,[],[],...,,,,,,[],,,,

In [2]:
import pandas as pd

In [164]:
lex_dfs_list = [df_lf1, df_lf_2, df_lf_3, df_lf_4, df_lf_5, df_lf_6, df_lf_7, df_lf_8, df_lf_9, df_lf_10, df_lf_11, df_lf_12]

In [165]:
lex_df = pd.concat(lex_dfs_list)

In [166]:
lex_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 7
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   object
 1   conversation_id  1000 non-null   object
 2   created_at       1000 non-null   float64
 3   date             1000 non-null   object
 4   timezone         1000 non-null   object
 5   place            1000 non-null   object
 6   tweet            1000 non-null   object
 7   language         1000 non-null   object
 8   hashtags         1000 non-null   object
 9   cashtags         1000 non-null   object
 10  user_id          1000 non-null   int64
 11  user_id_str      1000 non-null   object
 12  username         1000 non-null   object
 13  name             1000 non-null   object
 14  day              1000 non-null   int64
 15  hour             1000 non-null   object
 16  link             1000 non-null   object
 17  urls             1000 non-null   object
 18  photos           1000 non-null   object
 19  video            1000 non-null   int64
 20  thumbnail        1000 non-null   object
 21  retweet          1000 non-null   bool
 22  nlikes           1000 non-null   int64
 23  nreplies         1000 non-null   int64
 24  nretweets        1000 non-null   int64
 25  quote_url        1000 non-null   object
 26  search           1000 non-null   object
 27  near             1000 non-null   object
 28  geo              1000 non-null   object
 29  source           1000 non-null   object
 30  user_rt_id       1000 non-null   object
 31  user_rt          1000 non-null   object
 32  retweet_id       1000 non-null   object
 33  reply_to         1000 non-null   object
 34  retweet_date     1000 non-null   object
 35  translate        1000 non-null   object
 36  trans_src        1000 non-null   object
 37  trans_dest       1000 non-null   object
dtypes: bool(1), float64(1), int64(6), object(30)
memory usage: 297.9+ KB

In [11]:
import nest_asyncio
nest_asyncio.apply()

In [167]:
lex_df.to_csv('lexfridman_tweets_1000',index=False)

In [12]:
twint_time('2018-01-05', '2018-07-05', 'LexFridman')
df_lf2_1 = df.df
print(df_lf_12.shape)

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:Tweets_known_error:Expecting value: line 1 column 1 (char 0)

Expecting value: line 1 column 1 (char 0) [x] run.Feed
[!] if get this error but you know for sure that more tweets exist, please open an issue and we will investigate it!

CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:Tweets_known_error:Expecting value: line 1 column 1 (char 0)

Expecting value: line 1 column 1 (char 0) [x] run.Feed
[!] if get this error but you know for sure that more tweets exist, please open an issue and we will investigate it!

CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:Tweets_known_error:Expecting value: line 1 column 1 (char 0)

Expecting value: line 1 column 1 (char 0) [x] run.Feed
[!] if get this error but you know for sure that more tweets exist, please open an issue and we will investigate it!

CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:Tweets_known_error:Expecting value: line 1 column 1 (char 0)

Expecting value: line 1 column 1 (char 0) [x] run.Feed
[!] if get this error but you know for sure that more tweets exist, please open an issue and we will investigate it!

CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:Tweets_known_error:Expecting value: line 1 column 1 (char 0)

Expecting value: line 1 column 1 (char 0) [x] run.Feed
[!] if get this error but you know for sure that more tweets exist, please open an issue and we will investigate it!

CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:Tweets_known_error:Expecting value: line 1 column 1 (char 0)

Expecting value: line 1 column 1 (char 0) [x] run.Feed
[!] if get this error but you know for sure that more tweets exist, please open an issue and we will investigate it!

CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
CRITICAL:root:twint.run:Twint:Feed:Tweets_known_error:Expecting value: line 1 column 1 (char 0)

Expecting value: line 1 column 1 (char 0) [x] run.Feed
[!] if get this error but you know for sure that more tweets exist, please open an issue and we will investigate it!

NameError: name 'df' is not defined

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('lexfridman_tweets_1000')

In [3]:
df.head()

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1351053401438773248,1351053401438773248,1.610951e+12,2021-01-18 00:26:46,-600,NaN,Here's my conversation with Max Tegmark (@tegm...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1350840573322780674,1350840573322780674,1.610900e+12,2021-01-17 10:21:04,-600,NaN,"""Dwell on the beauty of life. Watch the stars,...",en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1350495711809462280,1350495711809462280,1.610818e+12,2021-01-16 11:30:43,-600,NaN,Wikipedia is arguably the greatest website eve...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1350277854681051136,1350277854681051136,1.610766e+12,2021-01-15 21:05:02,-600,NaN,This changes everything. https://t.co/HtL1W7eXY1,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1350180651836829696,1350180651836829696,1.610743e+12,2021-01-15 14:38:47,-600,NaN,I love America.,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [4]:
df = df['tweet']

In [5]:
df.head()

0    Here's my conversation with Max Tegmark (@tegm...
1    "Dwell on the beauty of life. Watch the stars,...
2    Wikipedia is arguably the greatest website eve...
3    This changes everything.  https://t.co/HtL1W7eXY1
4                                      I love America.
Name: tweet, dtype: object

In [6]:
df.to_csv('lexfridman_tweets.txt', sep=' ', index=False)

In [ ]:
# Will need to go back through and remove links

In [3]:
df = pd.read_csv('lexfridman_tweets_1000')

In [4]:
df.head()

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1351053401438773248,1351053401438773248,1.610951e+12,2021-01-18 00:26:46,-600,NaN,Here's my conversation with Max Tegmark (@tegm...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1350840573322780674,1350840573322780674,1.610900e+12,2021-01-17 10:21:04,-600,NaN,"""Dwell on the beauty of life. Watch the stars,...",en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1350495711809462280,1350495711809462280,1.610818e+12,2021-01-16 11:30:43,-600,NaN,Wikipedia is arguably the greatest website eve...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1350277854681051136,1350277854681051136,1.610766e+12,2021-01-15 21:05:02,-600,NaN,This changes everything. https://t.co/HtL1W7eXY1,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1350180651836829696,1350180651836829696,1.610743e+12,2021-01-15 14:38:47,-600,NaN,I love America.,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [17]:
def get_tweets(username):
    c = twint.Config()
    c.Username = username
    tweets = []
    c.Store_object = True
    c.Store_object_tweets_list = tweets
    twint.run.Profile(c)
get_tweets('LexFridman')

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable

[!] Twitter does not return more data, scrape stops here.